.cardAnimation {
  animation: myEffect linear 0.3s;
  position: relative;
}

.buy {
  color: black;
}

.buy:hover {
  color: red;
}

@keyframes myEffect {
  0% {
    transform: translateX(360deg);
  }

  100% {
    transform: translateX(0de);
  }
}
