.sidebar__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
}

.sidebar__button {
  border: none;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}

.sidebar {
  display: none;
}

@media all and (max-width: 1080px) {
  .sidebar {
    display: block;
  }
}
